Repository zanmancan/itzthepools-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0 --fix, prettier --write

fix(husky): restore shebang + enforce LF for hooks
  .gitattributes
  README.md
  tsconfig.tsbuildinfo
Due: prettier --write

chore: remove temporary Pages fallbacks (App Router now live)
  lib/supabase/client.ts
  lib/supabase/middleware.ts
  lib/supabase/server.ts
  lib/supabaseClient.ts
  src/components/EmptyState.tsx
  src/components/LoadingSpinner.tsx
Due: eslint --max-warnings=0 --fix

chore: remove root app/pages and align middleware under src/
  README.md
  next-env.d.ts
  next.config.mjs
  playwright-report/index.html
  playwright.config.ts
  src/app/auth/complete/page.tsx
  src/app/auth/reset/page.tsx
  src/app/dashboard/EmptyListToast.tsx
  src/app/dashboard/loading.tsx
  src/app/dashboard/page.tsx
  src/app/globals.css
  src/app/layout.tsx
  src/app/league/[id]/page.tsx
  src/app/login/page.tsx
  src/app/not-found.tsx
  src/app/page.tsx
  src/components/EmptyState.tsx
  src/components/JoinFromToken.tsx
  src/components/LoadingSpinner.tsx
  src/hooks/useLoadingDelay.ts
  src/lib/env.ts
  src/middleware.ts
  tests/e2e/dashboard.spec.ts
  tests/e2e/smoke.spec.ts
  tsconfig.json
  tsconfig.tsbuildinfo
Due: eslint --max-warnings=0 --fix, prettier --write

ci: typecheck + lint + build + e2e (Playwright) on push/PR
  .github/workflows/ci.yml
  playwright-report/index.html
  test-results/.last-run.json
Due: prettier --write

chore: use Node-based husky hook (Desktop-safe)
  .gitattributes
  .gitignore
  .husky/pre-commit
  package.json
  tsconfig.tsbuildinfo
Due: prettier --write

test
  README.md
Due: prettier --write

remove
  .lintstagedrc.json
Due: prettier --write

Fix Husky pre-commit (LF, lint-staged)
  .husky/pre-commit
  README.md
  middleware.ts
  next-env.d.ts
  package-lock.json
  package.json
  src/app/auth/callback/route.ts
  src/app/auth/complete/page.tsx
  src/app/auth/complete/route.ts
  src/app/auth/reset/page.tsx
  src/app/auth/session/route.ts
  src/app/auth/signout/route.ts
  src/app/dashboard/page.tsx
  src/app/login/page.tsx
  src/lib/env.ts
  src/lib/supabase/browser.ts
  src/lib/supabase/server.ts
  src/lib/supabaseServer.ts
  src/middleware.ts
  tsconfig.tsbuildinfo
Due: eslint --max-warnings=0 --fix, prettier --write

auth: add AuthSync + layout update; fix husky hook; ignore .cache
  .gitignore
  .husky/pre-commit
  src/app/layout.tsx
  src/components/AuthSync.tsx
Due: eslint --max-warnings=0 --fix

rescue: edge-safe middleware + minimal /api/health to stop 502
  middleware.ts
  src/app/api/health/route.ts
Due: eslint --max-warnings=0 --fix

db: remove local 0001_init (we'll baseline remote)
  .vscode/extensions.json
  .vscode/settings.json
  package-lock.json
  package.json
  supabase/.gitignore
  supabase/config.toml
  supabase/migrations/20250920021721_0002_policy_reset.sql
Due: prettier --write

db: remove policy-reset migration
  supabase/migrations/20250920021721_0002_policy_reset.sql
Due: none

db: core schema + RLS helpers + leagues defaults
  supabase/migrations/20250920022915_0003_core_schema.sql
  supabase/migrations/20250920023905_0004_leagues_add_sport.sql
  supabase/migrations/20250920024943_0005_rls_helpers_break_cycle.sql
  supabase/migrations/20250920030359_0006_leagues_defaults.sql
Due: none

chore(husky): drop pre-commit.js; use CJS shim
  .editorconfig
  .eslintrc.json
  .github/workflows/ci.yml
  .husky/pre-commit
  .husky/pre-commit.cjs
  .husky/pre-commit.js
  .vscode/settings.json
  middleware.ts
  package-lock.json
  package.json
  src/app/dashboard/page.tsx
  src/app/invite/[token]/page.tsx
  src/app/layout.tsx
  src/app/login/LoginClient.tsx
  src/app/login/page.tsx
  src/lib/data/leagues.ts
  src/lib/supabaseServer.ts
  tsconfig.eslint.json
Due: eslint --max-warnings=0 --fix, prettier --write

stuff
  .husky/pre-commit.js
Due: eslint --max-warnings=0 --fix

test
  middleware.ts
  src/app/api/invites/create/route.ts
  src/app/dashboard/page.tsx
  src/app/invite/[token]/page.tsx
  src/app/login/LoginClient.tsx
  src/components/InviteForm.tsx
  src/lib/supabaseBrowser.ts
  src/lib/supabaseServer.ts
Due: eslint --max-warnings=0 --fix

changes
  src/app/api/invites/accept-with-name/route.ts
  src/app/api/invites/accept/route.ts
  src/app/api/invites/email/route.ts
  src/app/api/invites/id/[id]/route.ts
  src/app/api/invites/list/route.ts
  src/app/api/invites/open/route.ts
  src/app/api/invites/route.ts
  src/app/api/invites/token/[token]/route.ts
  src/app/api/league-name/route.ts
  src/app/api/leagues/[id]/invites/route.ts
  src/app/api/leagues/[id]/members/route.ts
  src/app/api/leagues/[id]/settings/route.ts
  src/app/api/leagues/route.ts
  src/app/api/me/route.ts
  src/app/dashboard/page.tsx
  src/lib/supabaseServer.ts
Due: eslint --max-warnings=0 --fix

fix warnings
  src/app/login/LoginClient.tsx
  src/components/InviteForm.tsx
Due: eslint --max-warnings=0 --fix

351
  src/app/api/invites/create/route.ts
  src/app/invite/[token]/page.tsx
  src/app/invite/token/[token]/page.tsx
Due: eslint --max-warnings=0 --fix

asdf
  src/app/invite/[token]/page.tsx
  src/app/invite/token/[token]/page.tsx
Due: eslint --max-warnings=0 --fix

test
  src/components/InviteForm.tsx
Due: eslint --max-warnings=0 --fix

test
  src/app/api/invites/create/route.ts
Due: eslint --max-warnings=0 --fix

s
  src/app/api/invites/create/route.ts
Due: eslint --max-warnings=0 --fix

test
  src/app/invite/[token]/page.tsx
Due: eslint --max-warnings=0 --fix

invite flow
  src/app/api/invites/create/route.ts
  src/app/invite/[token]/page.tsx
  src/app/signup/page.tsx
  src/components/InviteForm.tsx
Due: eslint --max-warnings=0 --fix

invite flow
  src/app/invite/[token]/page.tsx
  src/components/InviteAuthBlock.tsx
Due: eslint --max-warnings=0 --fix

dsfg
  src/app/signup/page.tsx
  src/components/InviteAuthBlock.tsx
Due: eslint --max-warnings=0 --fix

flow
  src/app/auth/callback/page.tsx
  src/app/signup/page.tsx
  src/components/InviteAuthBlock.tsx
Due: eslint --max-warnings=0 --fix

flow
  src/app/auth/callback/page.tsx
Due: eslint --max-warnings=0 --fix

flow
  src/app/auth/callback/page.tsx
  src/app/invite/[token]/page.tsx
Due: eslint --max-warnings=0 --fix

asdf
  src/app/api/invites/accept/route.ts
  src/app/invite/[token]/page.tsx
Due: eslint --max-warnings=0 --fix

i dont remember, flow
  src/app/api/invites/accept/route.ts
Due: eslint --max-warnings=0 --fix

changes
  src/app/api/invites/accept-with-name/route.ts
  src/app/api/invites/accept/route.ts
  src/app/api/invites/create/route.ts
  src/app/api/invites/email/route.ts
  src/app/api/invites/id/[id]/route.ts
  src/app/api/invites/list/route.ts
  src/app/api/invites/open/route.ts
  src/app/api/invites/route.ts
  src/app/api/invites/token/[token]/route.ts
  src/app/api/league-name/route.ts
  src/app/api/leagues/[id]/invites/route.ts
  src/app/api/leagues/[id]/members/route.ts
  src/app/api/leagues/[id]/settings/route.ts
  src/app/api/leagues/route.ts
  src/app/api/me/route.ts
  src/lib/supabaseServer.ts
Due: eslint --max-warnings=0 --fix

flow
  src/app/api/invites/accept/route.ts
  src/app/api/invites/create/route.ts
  src/lib/supabaseServer.ts
Due: eslint --max-warnings=0 --fix

invite
  src/app/api/invites/accept/route.ts
  src/app/api/invites/create/route.ts
Due: eslint --max-warnings=0 --fix

invite
  src/app/api/invites/create/route.ts
Due: eslint --max-warnings=0 --fix

flow
  src/app/api/invites/accept/route.ts
  src/app/invite/[token]/page.tsx
Due: eslint --max-warnings=0 --fix

invite
  src/app/api/invites/accept/route.ts
  src/app/invite/[token]/page.tsx
Due: eslint --max-warnings=0 --fix

flow for invite
  src/app/api/invites/accept/route.ts
  src/app/invite/[token]/page.tsx
Due: eslint --max-warnings=0 --fix

Path conditions:
  eslint --max-warnings=0 --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{json,md,css,scss}
