Repository zanmancan/itzthepools-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0 --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --max-warnings=0 --fix"],
  "*.{json,md,css,scss}": ["prettier --write"]
}

flow invite
  src/app/api/leagues/[id]/team-name-check/route.ts
  src/app/auth/callback/page.tsx
  src/app/auth/callback/route.ts
  src/app/dashboard/page.tsx
  src/components/join/InviteFlowClient.tsx
  tsconfig.json
Due: eslint --max-warnings=0 --fix, prettier --write

omg invite flow still agina whatever
  src/app/api/invites/info/route.ts
  src/app/auth/callback/page.tsx
  src/app/auth/callback/route.ts
  src/app/join/invite/page.tsx
Due: eslint --max-warnings=0 --fix

docs: seed branch for two Create Account pages (refs #1)
  README.md
Due: prettier --write

docs: seed branch for two Create Account pages (refs #1) (#2)
  README.md
Due: prettier --write

wip: real invite flow + tests green
  .github/PULL_REQUEST_TEMPLATE.md
  NEXT.md
  README.md
  ROADMAP.md
  docs/DATA_MODEL.md
  docs/DECISIONS/0001-api-lists-return-arrays.md
  docs/DECISIONS/0002-time-handling-et-logic-local-display.md
  docs/DECISIONS/0003-unique-team-names.md
  docs/DECISIONS/0004-invite-token-lifecycle.md
  docs/FUNCTIONAL_SPEC.md
  docs/NEXT.md
  docs/NFR.md
  docs/PRODUCT_BRIEF.md
  docs/PROMPTS.md
  docs/ROADMAP.md
  docs/TEST_PLAN.md
  package-lock.json
  package.json
  src/app/api/invites/accept/route.ts
  src/app/api/invites/context/route.ts
  src/app/api/test/_store.ts
  src/app/api/test/login-as/route.ts
  src/app/api/test/post-login-redirect/route.ts
  src/app/api/test/seed-invite/route.ts
  src/app/dashboard/page.tsx
  src/app/invite/[token]/page.tsx
  src/app/leagues/[leagueId]/page.tsx
  src/lib/invites/types.ts
  src/lib/time.ts
  tests/e2e/invite-flow.spec.ts
  tests/e2e/playwright.config.ts
Due: eslint --max-warnings=0 --fix, prettier --write

CI: run full E2E + dashboard client invites + bulk flow
  .github/workflows/e2e.yml
  .gitignore
  next.config.mjs
  package-lock.json
  package.json
  src/app/api/invites/accept/route.ts
  src/app/api/invites/bulk-create/route.ts
  src/app/api/invites/context/route.ts
  src/app/api/invites/list/route.ts
  src/app/api/invites/revoke/route.ts
  src/app/api/leagues/create/route.ts
  src/app/api/leagues/mine/route.ts
  src/app/api/test/_store.ts
  src/app/api/test/login-as/route.ts
  src/app/api/test/reset/route.ts
  src/app/api/test/seed-invite/route.ts
  src/app/dashboard/page.tsx
  src/app/invite/[token]/page.tsx
  src/app/join/[token]/page.tsx
  src/app/league/[leagueId]/invites/bulk/page.tsx
  src/app/league/[leagueId]/page.tsx
  src/app/leagues/[leagueId]/invites/bulk/BulkInvitesClient.tsx
  src/app/leagues/[leagueId]/invites/bulk/page.tsx
  src/app/leagues/[leagueId]/page.tsx
  src/app/leagues/new/page.tsx
  src/components/DashboardInvitesPanel.tsx
  src/components/MyLeaguesCard.tsx
  src/components/NewLeagueCard.tsx
  tests/e2e/bulk-invites.spec.ts
  tests/e2e/create-league.spec.ts
  tests/e2e/invite-flow.spec.ts
  tests/e2e/my-leagues-invite-button.spec.ts
  tests/e2e/my-leagues.spec.ts
  tsconfig.tsbuildinfo
Due: eslint --max-warnings=0 --fix, prettier --write

lots of stuff
  .env.example
  .github/workflows/e2e.yml
  README.md
  docs/FUNCTIONAL_SPEC.md
  docs/ROADMAP.md
  package-lock.json
  package.json
  src/app/(shared)/DevSafetyBadge.tsx
  src/app/api/invites/mine/route.ts
  src/app/api/leagues/mine/route.ts
  src/app/api/test/_store.ts
  src/app/api/test/invites/bulk/route.ts
  src/app/api/test/invites/list/route.ts
  src/app/api/test/invites/mine/route.ts
  src/app/api/test/invites/revoke/route.ts
  src/app/api/test/leagues/create/route.ts
  src/app/api/test/leagues/mine/route.ts
  src/app/api/test/reset/route.ts
  src/app/api/test/role/route.ts
  src/app/api/test/users/impersonate/route.ts
  src/app/dashboard/page.tsx
  src/app/layout.tsx
  src/app/leagues/[leagueId]/invites/bulk/BulkInvitesClient.tsx
  src/app/leagues/[leagueId]/invites/bulk/Client.tsx
  src/app/leagues/[leagueId]/invites/bulk/Guard.tsx
  src/app/leagues/[leagueId]/invites/bulk/index.ts
  src/app/leagues/[leagueId]/invites/bulk/page.tsx
  src/app/leagues/[leagueId]/page.tsx
  src/app/leagues/[leagueId]/settings/page.tsx
  src/app/leagues/[leagueId]/settings/settingsClient.tsx
  src/components/DashboardInvitesPanel.tsx
  src/components/Kebab.tsx
  src/components/MyLeaguesCard.tsx
  src/lib/backend.ts
  tests/e2e/auth-guards.spec.ts
  tests/e2e/leagues-open-settings.spec.ts
  tests/e2e/my-leagues-kebab.spec.ts
Due: eslint --max-warnings=0 --fix, prettier --write

feat: real league create with slug push + in-memory single GET
  package-lock.json
  package.json
  src/app/api/leagues/[id]/route.ts
  src/app/api/leagues/route.ts
  src/app/leagues/[leagueId]/page.tsx
  src/app/leagues/new/page.tsx
Due: eslint --max-warnings=0 --fix, prettier --write

ADD COMMENT HERE IF YOU WANT
  src/app/api/leagues/route.ts
Due: eslint --max-warnings=0 --fix

ADD COMMENT HERE IF YOU WANT
  src/app/api/test/seed/route.ts
Due: eslint --max-warnings=0 --fix

ADD COMMENT HERE IF YOU WANT
  src/app/api/test/invites/route.ts
  src/app/utils/supabase/server.ts
  tests/e2e/invite-flow.spec.ts
Due: eslint --max-warnings=0 --fix

ADD COMMENT HERE IF YOU WANT
  src/app/api/test/invites/route.ts
  src/app/api/test/leagues/route.ts
  tests/e2e/invite-flow.spec.ts
  tsconfig.json
Due: eslint --max-warnings=0 --fix, prettier --write

fix: league page lint errors; keep E2E green
  .github/workflows/e2e-smoke.yml
  src/app/api/test/invites/route.ts
  src/app/api/test/seed-invite/route.ts
  src/app/api/test/seed-league/route.ts
  src/app/invites/[token]/page.tsx
  src/app/leagues/[leagueId]/page.tsx
  src/lib/store.ts
  src/types/index.ts
  src/types/invite.ts
  src/types/league.ts
  tests/e2e/invite-flow.spec.ts
Due: eslint --max-warnings=0 --fix

ci: add workflow_dispatch + better diagnostics
  .github/workflows/e2e-smoke.yml
Due: none

ci: add TypeScript check + upload logs
  .github/workflows/e2e-smoke.yml
Due: none

Update route.ts
  src/app/api/invites/bulk-create/route.ts
Due: eslint --max-warnings=0 --fix

fix(api): repair bulk-create route + remove unused ts-expect-error
  src/app/api/invites/bulk-create/route.ts
Due: eslint --max-warnings=0 --fix

fix(api): clean exports; literal runtime; canonical store for invites
  .github/workflows/ci.yml
  .github/workflows/e2e-smoke.yml
  .github/workflows/e2e.yml
  scripts/dev-e2e.ps1
  src/app/api/invites/accept/route.ts
  src/app/api/invites/bulk/route.ts
  src/app/api/invites/create/route.ts
Due: eslint --max-warnings=0 --fix

e2e 1-9 are working
  scripts/dev-e2e.ps1
  src/app/api/invites/accept/route.ts
  src/app/api/invites/create/route.ts
  src/app/api/leagues/[id]/invites/bulk/route.ts
  src/app/api/leagues/[id]/invites/route.ts
  src/app/api/leagues/[id]/route.ts
  src/app/api/leagues/create/route.ts
  src/app/api/leagues/mine/route.ts
  src/app/api/leagues/route.ts
  src/app/api/test/invite/seed/route.ts
  src/app/api/test/invites/accept/route.ts
  src/app/api/test/invites/bulk/route.ts
  src/app/api/test/invites/by-token/route.ts
  src/app/api/test/invites/list/route.ts
  src/app/api/test/invites/revoke/route.ts
  src/app/api/test/invites/route.ts
  src/app/api/test/invites/seed/route.ts
  src/app/api/test/leagues/get/route.ts
  src/app/api/test/leagues/route.ts
  src/app/api/test/reset/route.ts
  src/app/api/test/role/route.ts
  src/app/api/test/seed/route.ts
  src/app/dashboard/page.tsx
  src/app/invites/[token]/page.tsx
  src/app/leagues/[leagueId]/page.tsx
  src/app/leagues/new/page.tsx
  src/components/DashboardInvitesPanel.tsx
  src/lib/devStore.ts
  tests/e2e/invite-flow.spec.ts
  tests/e2e/invite-revoke.spec.ts
Due: eslint --max-warnings=0 --fix

Updates file
  .github/workflows/ci.yml
Due: none

ci.yml
  .github/workflows/ci.yml
Due: none

asdf
  src/app/api/test/seed/league/route.ts
Due: eslint --max-warnings=0 --fix

ci work!
  .github/workflows/ci.yml
Due: none
